# Pennsylvania

## Full raw data

In [12]:
import pandas as pd
import json

# Load the JSON file
with open('data/PA_raw_data.json', 'r') as file:
    data = json.load(file)

# Flatten the JSON structure into a DataFrame
df = pd.json_normalize(data)

In [21]:
df.head(10)

,GEOID,state,county,muni,county_muni,cd_2010,cd_2020,vtd,pop,pop_hisp,...,arv_20,adv_20,nrv,ndv,area_land,area_water,adj,pseudo_county,geometry.type,geometry.coordinates
0,42001000010,PA,Adams County,00116,Adams County00116,13,13,000010,1022,132,...,350.5,139.5,272.6,132.3,1414125,19834,"[3, 24, 9090]",1,MultiPolygon,"[[[[664395.1374, -31011.7959], [664509.4435, -..."
1,42001000020,PA,Adams County,02928,Adams County02928,13,13,000020,867,175,...,266.0,171.5,225.8,155.2,2073962,0,"[6, 18]",1,MultiPolygon,"[[[[639001.171, -26522.9965], [639289.9775, -2..."
2,42001000030,PA,Adams County,46376,Adams County05536,13,13,000030,736,265,...,196.5,101.5,152.0,87.9,1169782,0,[34],1,MultiPolygon,"[[[[642210.8436, -20529.1283], [642226.305, -1..."
3,42001000040,PA,Adams County,NaN,Adams County,13,13,000040,2403,118,...,944.5,369.0,765.9,313.3,19929923,160066,"[0, 9, 24, 40, 41, 9055, 9090, 9095]",1,MultiPolygon,"[[[[665544.0083, -29885.6813], [665710.3782, -..."
4,42001000050,PA,Adams County,07560,Adams County06296,13,13,000050,1225,231,...,359.0,195.0,300.6,167.4,1686050,5107,[6],1,MultiPolygon,"[[[[642244.515, -26117.248], [642358.1608, -26..."
5,42001000060,PA,Adams County,NaN,Adams County07560,13,13,000060,1758,76,...,592.5,258.0,490.0,229.9,2502580,0,[37],1,MultiPolygon,"[[[[651157.7436, -38881.9516], [651437.185, -3..."
6,42001000070,PA,Adams County,NaN,Adams County,13,13,000070,2550,246,...,1007.0,372.0,856.1,335.1,62061226,253765,"[1, 4, 11, 18, 34, 46, 47]",1,MultiPolygon,"[[[[638881.364, -25837.7877], [639927.6049, -2..."
7,42001000078,PA,Adams County,11472,Adams County11472,13,13,000078,2129,43,...,891.0,436.5,750.5,369.8,6606075,32414,"[8, 25, 29]",1,MultiPolygon,"[[[[631577.6306, -43459.5198], [631557.1144, -..."
8,42001000082,PA,Adams County,NaN,Adams County11472,13,13,000082,1811,38,...,873.0,431.5,716.1,361.5,7320569,157783,"[7, 25, 29]",1,MultiPolygon,"[[[[631674.7474, -47662.5252], [632495.089, -4..."
9,42001000090,PA,Adams County,NaN,Adams County,13,13,000090,3555,191,...,1205.0,579.5,938.5,490.4,7773858,24258,"[3, 10, 32, 33, 40, 9052, 9053, 9092, 9095]",1,MultiPolygon,"[[[[662897.4385, -37678.4181], [663094.5513, -..."

In [14]:
df.shape

(9178, 54)

In [20]:
df['adj'].head(10)

0                                  [3, 24, 9090]
1                                        [6, 18]
2                                           [34]
3           [0, 9, 24, 40, 41, 9055, 9090, 9095]
4                                            [6]
5                                           [37]
6                     [1, 4, 11, 18, 34, 46, 47]
7                                    [8, 25, 29]
8                                    [7, 25, 29]
9    [3, 10, 32, 33, 40, 9052, 9053, 9092, 9095]
Name: adj, dtype: object

## Raw plans

In [16]:
import pandas as pd
import json

# Load the JSON file
with open('data/PA_raw_plans.json', 'r') as file:
    data = json.load(file)

# Flatten the JSON structure into a DataFrame
df_plans = pd.json_normalize(data)

In [19]:
df_plans.head(20)

       draw  district  total_pop  chain
0   cd_2020         1     765457    NaN
1   cd_2020         2     764865    NaN
2   cd_2020         3     764864    NaN
3   cd_2020         4     766240    NaN
4   cd_2020         5     765179    NaN
5   cd_2020         6     763498    NaN
6   cd_2020         7     767801    NaN
7   cd_2020         8     761414    NaN
8   cd_2020         9     762523    NaN
9   cd_2020        10     765120    NaN
10  cd_2020        11     763503    NaN
11  cd_2020        12     764826    NaN
12  cd_2020        13     765972    NaN
13  cd_2020        14     764683    NaN
14  cd_2020        15     766538    NaN
15  cd_2020        16     765018    NaN
16  cd_2020        17     765199    NaN
17        1         1     763723    1.0
18        1         2     767048    1.0
19        1         3     763600    1.0

In [18]:
df_plans.shape

(85017, 4)